.btn {
	display: inline-block;
	padding: 12px 20px;
	background: linear-gradient(90deg, $secondary, $primary);
	color: white;
	border-radius: 30px ;
	font-weight: 700;
	&:hover {
		color: white;
	}
	
	&.white {
		background: white;
		color: $primary;
		&:hover {
			background-color: $primary;
			color: white;
		}
	}

	&.primary {
		background: $primary;
	}
}